---
import rssParser from 'rss-parser';
import { getCollection } from 'astro:content';
import Center from '../components/Center.astro';

import PostCard from '../components/PostCard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

type Post = {
    title: string;
    description?: string;
    link: string;
    date: Date;
    source: 'astro' | 'substack';
}

const parser = new rssParser();

const feed = await parser.parseURL('https://froppii.substack.com/feed');
const substackPosts: Post[] =  feed.items.map((post: any) =>  ({
    title: post.title,
    description: post.contentSnippet,
    link: post.link,
    date: post.pubDate ? new Date(post.pubDate) : new Date(),
    source: 'substack'
}));

const astroPosts: Post[] = (await getCollection('blog')).map((post: any) => ({
    title: post.data.title,
    description: post.data.description,
    link: `/blog/${post.slug}`,
    date: post.data.date,
    source: 'astro'
}));

const allPosts: Post[] = [...astroPosts, ...substackPosts].sort((a, b) => b.date.getTime() - a.date.getTime()); 
---

<BaseLayout>
    <Center>
        <h1>Blog</h1>
        <p>hey there!</p>
        <section>
            {allPosts.map(post => (
                <article class="post">
                    <h2>
                        <a href={post.link} target={post.source}>
                            {post.title}
                        </a>
                    </h2>
                    {post.description && <p>{post.description}</p>}
                </article>
            ))}
        </section>
    </Center>
</BaseLayout>